@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.update-buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.update-save__button {
  @include create-account-button;
}

.update-cancel__button {
  @include auth-button;
}
