@mixin mobile {
  @media ((min-width: 320px) and (max-width: 767px)) {
    @content;
  }
}

@mixin tablet {
  @media ((min-width: 768px) and (max-width: 1279px)) {
    @content;
  }
}

@mixin desktop {
  @media ((min-width: 1280px)) {
    @content;
  }
}

@mixin page-header {
  @include mobile {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: roboto-light;
  }
  @include tablet {
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-family: roboto-light;
  }
  @include desktop {
    font-size: 2.063rem;
    line-height: 2.75rem;
    font-family: roboto-light;
  }
}

@mixin subheader {
  @include mobile {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-family: roboto-light;
  }
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.1375rem;
    font-family: roboto-light;
  }
  @include desktop {
    font-size: 0.875rem;
    line-height: 1.1375rem;
    font-family: roboto-light;
  }
}

@mixin body-copy {
  @include mobile {
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: roboto-regular;
  }
  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: roboto-regular;
  }
  @include desktop {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: roboto-regular;
  }
}

@mixin labels-buttons {
  @include mobile {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: roboto-bold;
  }
  @include tablet {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: roboto-bold;
  }
  @include desktop {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: roboto-bold;
  }
}

@mixin buttons {
  height: 40px;
}

// Flexbox Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
