// Colour

// Primary: used in dominant background color across all merketing/communications and to highlight/offset lighter colored products
$Midnight: #0D2155;
$Royal: #0C32A4;
$Dell-Blue: #0672CB;
$Deep-Green: #244739;
$Hunter: #247554;
$Raisin: #2A145A;
$Plum: #612CB0;
$Burgandy: #691D3F;

// Secondary: used in patterns, color spectrum and illustrations for contrast and color range
$Sky: #80C7FB;
$Basil: #37CC5C;
$Lime: #9FFF99;
$Amethyst: #8E5CEF;
$Lavendar: #BEAFFF;
$Scarlet: #B30B37;
$Coral: #E1633F;
$Apricot: #F4BB5E;

// Tertiary: used for text, the Dell Element, to highlight or offset darker products and as a backdrop for photo subjects
$Glacier: #E5F8FF;
$Tea-Green: #E4FFd6;
$Periwinkle: #DEDDFF;
$Sand: #FBEECE;