@import '../../styles/partials/mixins';
@import '../../styles/partials/typography';
@import '../../styles/partials/variables';

.landing-page {
    background-color: #0d2155;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    height: 100vh;
    padding: 0 2rem;
}

main {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {

    &__page-header {
        @include page-header;
    }

    &__subheader {
        @include subheader;
    }
}

.card {
    display: flex;
    flex-direction: column;
    
    &__features {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        background: linear-gradient(180deg, rgb(72, 128, 255) 0%, rgb(43, 77, 153) 100%);
        border-radius: 8px;
        margin-right: 1rem;
        padding: 1rem;


        &--img {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0.5rem;
        }

        &--text {
            display: flex;
            justify-content: space-around;

            & p {
                text-align: center;
            }
        }
    }

    &__benefits {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(180deg, rgb(72, 128, 255) 0%, rgb(43, 77, 153) 100%);
        border-radius: 8px;
        margin: 0.5rem 1rem -1.5rem 0rem;
        padding-bottom: 1rem;

        &--img {
            display: flex;
            justify-content: space-around;
            margin: 1rem 0 -1.5rem 0;
        }

        &--text {
            display: flex;
            justify-content: space-around;
            
            & p {
                text-align: center;
            }
        }
    }
}



.dell-molecules {
    box-shadow: var(--enhanced-drop-shadow);
    height: 508px;
    width: 641px;
  }
  
  .dell-molecules .overlap {
    height: 508px;
    position: relative;
  }
  
  .dell-molecules .overlap-group {
    height: 508px;
    left: 0;
    position: absolute;
    top: 200px;
    width: 641px;
  }
  
  .dell-molecules .div {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 126.11px/128.6px;
    height: 257px;
    left: 0;
    position: absolute;
    top: 251px;
    width: 252px;
  }
  
  .dell-molecules .div-2 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 113.67px/114.91px;
    height: 230px;
    left: 228px;
    position: absolute;
    top: 236px;
    width: 227px;
  }
  
  .dell-molecules .div-3 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 93.34px/98.32px;
    height: 197px;
    left: 170px;
    position: absolute;
    top: 152px;
    width: 187px;
  }
  
  .dell-molecules .div-4 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 131.09px/131.92px;
    height: 264px;
    left: 342px;
    position: absolute;
    top: 75px;
    width: 262px;
  }
  
  .dell-molecules .div-5 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 92.1px/95px;
    height: 190px;
    left: 368px;
    position: absolute;
    top: 0;
    width: 184px;
  }
  
  .dell-molecules .div-6 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 69.28px/71.35px;
    height: 143px;
    left: 503px;
    position: absolute;
    top: 0;
    width: 139px;
  }
  
  .dell-molecules .div-7 {
    background: linear-gradient(180deg, rgb(43, 77, 153) 0%, rgb(72, 128, 255) 100%);
    border-radius: 51px/52.5px;
    height: 105px;
    left: 240px;
    position: absolute;
    top: 225px;
    width: 102px;
  }
  