@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.account-settings {
  display: flex;

  &__nav-container {
    @include flex-center;
    width: 21.8%;
    height: 100%;
  }

  &__section-container {
    display: flex;
    flex-direction: column;
  }
}
